body {
    margin: 0;
}

a:link {
    text-decoration: none;
}

.header {
    background-color: #1f2937; 
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
}

.navbar {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;

}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    margin: .25em;
}

.nav-container {
    display: flex;
    padding: .5em;
    justify-content: space-between;
}

.nav-item a{
    font-size: 18px;
    color: #e5e7eb;
    margin: .5em;
}

.hero {
    display: flex;
    margin: 2em;
}

.hero-left {
    flex: 1;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-left .button {
    background-color: #3882f6;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

.hero-left .button a {
    color: #f9faf8;
}

.hero-right {
    background-color: grey;
    color: e5e7eb;
    flex: 1;
}

.section-2 {
    padding: 5em;
}

.info-title{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info-box-container, .info-text-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.info-box {
    border-style: solid;
    border-width: 2px;
    border-color: #3882f6;
    border-radius: 10px;
    width: 100px;
    height: 100px;    
}

.info-text {
    margin-top: .5em;
    width: 100px;
    height: 100px;   
    text-align: center;
}

.section-3 {
    background-color: #e5e7eb;
    padding: 5em;
}

.quote-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;

}

.quote {    
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 0px;

}

.quote-author {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    margin-top: 0px;
    margin-right: 1em;
}